<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>愚者</string>
		<string>表示打破規律不拘泥於傳統的觀念而有自由奔放的心, 喜歡冒險, 追求某種新事物.

感情：感情方面, 一直在等待交往的機會, 不顧他人的看法, 自由的戀愛, 擁有天真浪漫的愛情.
事業：工作上, 無法在不自由的環境下工作.
學業：由於好奇心而對學業產生興趣, 以獨特的用功方式帶來意外的效果.
金錢：對於投資, 容易孤注一擲.
人際：人際關係良好, 以輕鬆的方式交友就會很順利了, 以幽默的個性受到歡迎.
健康：健康方面, 找到獨特的健康維持法, 保持健康的體魄.</string>
		<string>表示不在乎旁人的眼光, 夢想發大財卻無法成功, 不能夠腳踏實地的生活.

感情：感情方面, 體會空虛的心情,輕率的愛情,無法長久持續的融洽感,對婚姻感到束縛, 無法專情.
事業：工作方面, 沒有耐心,沒有計劃,經常遲到.
學業：學習方面, 猜題方向錯誤,臨時抱佛腳也來不及了, 成績一落千丈.
金錢：毫無理財觀念,沒有計劃地使用金錢.
人際：人際交往方面, 因過於單純而受到輕視, 被孤立.
健康：健康方面, 沒有正常的起居生活, 因為貪玩而影響健康及美容, 沒有察覺到自己身體的不適.</string>
	</array>
	<array>
		<string>魔法師</string>
		<string>基本的含意是驅使調查和理解的好奇心,有獨創性,有發展性,以新的計劃獲得成功,幸福的開端.

感情：感情方面, 意味著兩者的心靈相互契合,彼此的性格皆得以發揮,體會到感情的愉悅,宜於同對方交流,善於製造浪漫.
事業：工作方面, 處理得當,充滿效率的計劃,注意細節,能夠發揮自己的所學,創意受到認同,能夠在藝術方面發揮創造力.
學業：學業方面, 說明以新的方式讀書獲得好效果, 成績提高.
金錢：金錢上說明能夠以合理的代價獲得想要的東西.
人際：人際關係方面, 意味著有良好的人際關係, 可找到有類似想法的朋友.
健康：健康方面, 有穩定的精神狀況.</string>
		<string>無法下定決心,聽不進他人的勸告,很消極,也很容易受騙,常常都是光說不練.

感情：意味著不易找到表達的機會,會受花言巧語的人欺騙,無法專情,心情過於浮動,冷酷,無法向對方表達心意.
事業：預示著預期的成績沒有起色, 不夠用功, 撒謊會被拆穿, 一成不變的工作.
學業：需要獨特的唸書方式, 需防備考試失誤, 不複習成績會退步.
金錢：少帶些錢出門, 容易亂花錢, 因好賭而傾家蕩產.
人際：因不明確的態度而喪失信用, 虛假表面的交往, 不夠體貼對方,詐欺.
健康：容易暴躁,用腦過度,神經衰弱,需要適度的休息與調養.</string>
	</array>
	<array>
		<string>女祭司</string>
		<string>有良知的,文靜,敏銳的觀察力,富有研究的精神,正確的時機或人將出現的預感.

感情：柏拉圖式的戀情,深藏內心深處的愛意,介於友人關係與戀人關係之間的交往,以詩篇或是文章來表達愛意.
事業：說明有責任感的,認定目標精心鑽研,擁有展現專業技術的機會, 有評論的才能.
學業：學業方面, 有追求知識的慾望, 考運佳.
金錢：財務狀況方面, 理性消費,善於理財.
人際：人際關係方面, 能相互諒解的友誼,良好的商量對象,能夠傾心交談,體貼的好友.
健康：健康上, 要更加注意保養, 善於衛生管理, 身體看起來更加健康.</string>
		<string>缺乏理解能力,心情不好,粗心大意,容易因為精神受到壓抑而歇斯底里,容易緊張,神經質,鬧意氣.

感情：長期的單相思,想得太多了,因有潔癖讓人裹足不前,憧憬單身生活,因冷漠而產生誤會,任性,晚婚.
事業：工作上, 固執, 表面的知識,不喜歡用功,無法學以致用, 想要換一個新的環境又下不了決心.
學業：學習上, 不能集中全力, 因狀態低潮而感到焦慮, 考試失敗.
金錢：金錢方面, 沒有計劃的花費,浪費成性.
人際：受到冷漠的對待,容易過於激動而得罪人, 因任性而感到孤獨,嘲笑別人,出人意料的小心眼.
健康：健康狀況, 有歇斯底里的傾向, 貧血容易著涼的體質, 肌膚乾燥.</string>
	</array>
	<array>
		<string>皇后</string>
		<string>皇后正位說明善於製造氣氛,喜歡美麗的事物,令人感到貼心.有著優雅的生活,藝術天分,豐收,繁榮興盛,富足.

感情：預示著有收穫的戀愛,將與戀人論及婚嫁,異性注目的焦點,輕鬆的交往,對彼此相當瞭解,富有母性的光輝.
事業：工作方面, 想成為領導人, 熱情洋溢.
學業：學習方面, 成績進步,考試成績優秀.
金錢：隨著辛勤的工作, 有計劃的理財, 債務逐漸減輕, 儲蓄逐漸豐厚, 終能享有富裕的生活.
人際：開放而不拘束的態度帶來他人的好感,受人注目的,聚會或派對的主角, 個性豪爽.
健康：健康狀況上, 健康的體魄, 體力充沛.</string>
		<string>談吐輕浮,不被重視,金玉其外, 敗絮其中.容易迷惑,缺乏上進心,輕浮,損失,沒有成就,愛慕虛榮.

感情：優柔寡斷,沒有結果的戀情,因任性而遭人厭惡,嫉妒,過於迷戀而無法自拔,遙遠的婚期,沉溺在肉慾當中,將導致意外地懷孕.
事業：工作方面, 產生怠惰的心, 對於工作缺乏責任感.
學業：學習方面, 對學科過於好惡分明,成績低落,缺乏集中力.
金錢：由於個性的散漫, 對於金錢的使用也很隨便, 以致於經濟狀況並不好, 往往入不敷出.
人際：人際關係方面, 為人處事鋒芒太露,過強的自尊心,因驕縱而失敗,缺乏包容力.
健康：健康方面, 因為一時的大意而導致體重過重.</string>
	</array>
	<array>
		<string>皇帝</string>
		<string>皇帝正位表示是一個有行動的魄力, 富有責任感的男性.有著不服輸的個性和堅忍不拔的性格.

感情：以鍥而不捨的精神獲得青睞, 通常飾演主動的一方, 想要主導交往的情況, 因此伴侶要比你小, 地位也要比你低.
事業：擅長管理,願意提供幫助,往目標前進著,適合事務員或公務員等工作.
學業：鍥而不捨地鑽研學業,保持優良的水平,極高的目標及理想,堅定的信念,理性的,考試順利.
金錢：對於理財採取較為務實而保守的態度, 穩定且持續地累積財富, 進而創造賺錢的機會.
人際：人際關係方面, 是位活躍的領導者,成為商量事情的對象.
健康：健康狀況方面, 擁有健康,對於健康充滿自信.</string>
		<string>個性顯得比較幼稚,任性, 缺乏管理能力與責任感, 蠻橫霸道,欠缺慾望.

感情：面對感情, 沒有向心儀對像告白的勇氣, 若是堅持一段勉強的戀情那只有痛苦的結局.
事業：工作方面, 沒有衝勁也沒有領導力, 容易因過分自信而失敗, 需要從根本檢討,從基礎重新開始, 不適合長時間坐著的工作.
學業：學習方面, 缺乏自信與動力,成績不佳.
金錢：財務發生困難,預算不夠.
人際：與人相處時喜歡固執己見或因蠻橫而遭到他人的厭惡, 容易因不負責任而遭受指責也無領導群眾的能力.
健康：健康方面, 過於逞強而生病.</string>
	</array>
	<array>
		<string>教皇</string>
		<string>容易受到得到年長者的協助, 受到眾人的信賴, 是位良好的建言者, 有著貢獻精神與寬大的胸懷.

感情：對戀情表現得非常慎重, 想得也比較深遠, 會因有媒人的牽線而喜結良緣, 戀情得到逐漸的加深, 交往長久而持續.
事業：事業上, 擁有強韌的耐性,思想保守,適合顧問,醫學或以談話為主的職業.
學業：學習上, 多聽他人的勸告, 可遇到良師而使成績進步.
金錢：理財觀念不強, 最好看緊錢包.
人際：人際交往時, 能夠為他人著想, 可結交到心靈契合的好友.
健康：有機會遇到好的醫生, 身體慢慢康復.</string>
		<string>心胸變得狹窄, 無法遇到可以談心的好對象.有時對人又太過親切, 讓人覺得是在多管閒事, 於是自己常常陷在孤立無援的狀態.

感情：感情方面, 緣分尚淺, 戀情遭到周圍人的反對.佔有慾過重, 會因固執而遭受厭惡, 彼此不能夠體貼, 戀情發展緩慢.
事業：工作上, 情緒不佳工作變得無精打采, 或是因為自視過高而獲苦果.
學業：學業方面, 無法集中精力學習,成績下降.
金錢：投資時, 太過相信他人而受損.
人際：心胸狹窄,遭到周圍的人厭惡.
健康：健康狀況不佳, 精神疲勞, 要多運動, 避免偏食, 注意呼吸道的疾病.</string>
	</array>
	<array>
		<string>戀人</string>
		<string>這張牌代表要面臨重大的抉擇, 此時必須變得格外的謹慎.

感情：在看待感情問題時, 這是一張很好的牌, 彼此之間產生很強的吸引力, 單戀得到結果, 情侶間的瞭解加深, 同心協力, 無論是在精神上還是肉體上, 都給彼此帶去幸福感.
事業：工作方面, 會因以團隊精神而獲得成功.
學業：學習方面, 喜愛的科目進步, 總體成績有所提高.
金錢：投資眼光不錯, 沒有金錢的煩惱.
人際：幽默感和活力增強, 建立起良好的人際關係.
健康：健康方面, 可加強醫學上的常識.</string>
		<string>時常表裡不一, 容易受到外界的誘惑.

感情：在感情問題上, 朋友雖然多卻沒有固定的戀人,抓不到對方的心.戀人間會因為兩人的生活方式截然不同使得愛情變得冷淡, 甚至出現移情別戀或是別離.
事業：工作方面, 不能持之以恆, 實施的計劃也無法落實到實處, 應少說話多做事.
學業：學習方面, 缺乏集中力,不能用功.
金錢：喜歡亂花錢, 將出現資金短缺,破財的現象.
人際：與人相處時, 與旁人的意見不合, 意氣用事, 交不到好朋友.
健康：健康方面, 復原力降低, 小心刺激性的食品, 對化妝品容易出現過敏症狀.</string>
	</array>
	<array>
		<string>戰車</string>
		<string>對於所有事物都有積極的態度, 並以有效率的方式進行, 最終把握先機, 獲得勝利.

感情：感情上, 是位情場的勝利者, 遇到喜歡的對象會猛烈追求,大膽的行動, 積極的交往最終獲得成功, 感情也得以快速的進展.
事業：工作上, 適合獨立作業, 充分的自信, 可以抵擋激烈的競爭, 工作能高效完成.
學業：學習上, 因有效合理的學習方法而成績進步.
金錢：花錢無度, 有買車的想法.
人際：人際關係方面, 交遊廣闊,個性活潑,靈活周旋,獨立自主.
健康：擁有健康的身體, 精力充沛.</string>
		<string>過於堅持己見, 自我情緒控制能力差, 容易因得意忘形而導致失敗.突發事件也會讓其不知所措.

感情：處理感情問題過於魯莽, 缺乏理智的戀情將遭受挫折.彼此失去共同語言, 直接的話語還會傷到對方.出現強勁的情敵, 小心遭到另一半拋棄.
事業：事業上, 對不想做的事情缺乏責任感.
學業：學業上, 對課業不感興趣, 就算是擔心, 成績及效率還是低落,經常脫軌.
金錢：錢財方面, 損失錢財,不懂節制的花費,賭博失利.
人際：人際方面, 固執的爭論,因任性引起旁人的不滿.
健康：健康方面, 不要讓身體太累,因輕率而受傷,不要在馬路上嬉戲.</string>
	</array>
	<array>
		<string>力量</string>
		<string>代表有膽量,信念堅強的人, 只要認為正確就會努力不懈.有著充沛的精力, 以及潛藏的力量.

感情：在感情上是戀情的主導者, 以堅強的心智結合, 通過熱情克服障礙獲得長相廝守的戀情.
事業：工作將可居於領導地位, 也樂於幫助他人, 任何事務傾全力發揮, 終能突破難關.
學業：學習上即使不被支持仍會貫徹學習, 成績大幅提升.
金錢：投資果斷, 在財務上會有一大筆開銷.
人際：人際上, 以果斷的言行受到讚賞.
健康：健康方面, 體力恢復, 處於理想狀態, 活力充沛, 有持久力.</string>
		<string>一旦面對困難時, 無法堅持意志,害怕失敗,缺乏定力, 最終連求勝的信仰也不復存在.以往的智慧與力量, 都將隨著困難而灰飛湮滅, 剛愎自用, 沒有勇氣, 失敗已可預見.

感情：感情上, 處於單戀, 無法表達情感, 也不敢告白, 缺乏魅力.
事業：工作上, 缺乏耐心, 無法實現計畫, 能力無法伸張, 當心能力強而且霸道的上司.
學業：學習上, 容易鬆懈, 成績開始有所滑落.
金錢：投資沒有回報, 消費未經規劃, 導致金錢慢慢流失.
人際：優柔寡斷而使旁人對你失去信心.
健康：健康方面, 體力透支, 慢性病無法根除, 不願配合醫生, 而且容易胡亂吃藥.</string>
	</array>
	<array>
		<string>隱士</string>
		<string>自信,理智, 為了新的開始而堅持不懈, 冷靜的行動, 遠離所有事.

感情：以單純的心默默相思.追求精神層次結合, 不將情感形諸於色, 但是卻是值得信賴的對象.
事業：適合以輔佐的方式出現, 應以嚴格的態度深入分析, 試著擬定份長期計劃, 努力將會獲得成果.
學業：學業方面, 堅持不懈的努力而最終獲得成功.
金錢：往往會因理念不同而拒絕了賺錢的機會, 因而較難有豐厚的財產, 但由於性格樸實節檢, 因此還是能累積一些財產.
人際：人際交往中, 十分清楚自己的立場, 與任何人都能夠以禮相待, 因性格內斂而受到信賴.
健康：對健康管理表示熱衷, 多食用天然食品.</string>
		<string>喜歡隨便判斷別人的想法, 常常跟自己過不去.短視近利,不能通融,不理智,心胸不寬大.

感情：感情上, 變得保守, 對感情產生懷疑, 對愛侶下意識的挑剔.不能夠敞開心扉, 缺乏告白的勇氣, 心靈變得孤寂.
事業：工作上, 會因注意力不集中而造成錯誤百出, 應小心文件的錯誤.
學業：學習上, 有自卑感, 考試時沒能發揮實力.
金錢：理財能力弱, 無謂的花費, 若不懂得節制將花大錢.
人際：人際關係方面, 對旁人失去信心,互相猜疑,因自卑而困擾,孤僻,彆扭.
健康：神經過於緊張, 容易引發胃痛,氣色差,腸胃方面的疾病.</string>
	</array>
	<array>
		<string>命運之輪</string>
		<string>一旦想到的事情便會立即進行, 當機會來臨時能掌握住時機.由於命運的邂逅.
		
感情：在感情上容易發生一見鍾情, 彼此感情逐漸上升至可以結婚.
事業：工作方面, 此時正是轉換方向的好時期, 工作中常會有人伸出援手.
學業：學習上, 改變以往的學習方式將得到成果.
金錢：金錢方面, 有臨時收入, 意外之財.
人際：人際交往上, 偶爾能夠意外的得到貴人相助.
健康：深知壓抑情緒和抗拒改變會導致身心的不平衡, 因此放開了心胸, 釋放情感並接受任何的改變.藉由運動和飲食控制, 讓自己更為健康迷人.</string>
		<string>正處於運氣不佳的時刻, 常常出現判斷的錯誤, 為一些事情時常感到左右為難.

感情：容易錯失良機,缺乏要領的交往方式,使得戀情逐漸冷卻,甚至原本定好的親事都有可能告吹.
事業：拚命努力, 成效卻沒有預期的高, 希望也開始落空, 原本的計劃也不得不被迫發生改變.
學業：學習上, 努力而沒有獲得回報, 成績逐漸低落.
金錢：以前所投資的產品或項目, 都被景氣不佳所影響, 不但沒有賺錢, 反而還虧損櫐纍.
人際：人際關係多變化而且不穩定, 與他人容易出現意見不合或是誤解.
健康：平時的不好的生活習慣即使不會急速惡化, 但是若不改變方式也不會好轉.</string>
	</array>
	<array>
		<string>正義</string>
		<string>愛好和平, 極富正義感和道德感, 處事相當有自己的原則, 誠實,公正進行調解,維持平衡.

感情：面對感情時, 能夠不會被沖昏了頭的理性交往,性情好,和溫文有禮的對象交往.與戀人真心交往, 誠實以待, 相互平等, 輕鬆愉悅.
事業：在發展愛情時, 工作也能同時有所兼顧, 以合理的計劃獲得成功.
學業：學習上, 能合理地安排時間, 各科成績都很好.
金錢：財務上, 財運上升, 貸款獲准,得到應有的代價.
人際：與人相處能夠公平的對待, 適合擔任解決爭端的角色,講義氣,受到交往對象的照顧.
健康：精神方面很穩重, 營養均衡, 身材勻稱.</string>
		<string>做事有始無終, 處理問題時喜歡以自己的意見去斷定, 凡事不能做到不能兩全, 享受不公平的待遇.

感情：在感情上, 不夠主動, 便會造成單方的戀情, 若是以不誠實的態度對待戀人, 小心有第三者出現, 腳踏兩條船還會有失足的可能.
事業：工作上, 無視於規則, 做不正當的事.
學業：學習上, 各科成績差異過大, 對自己不夠自信, 當心考試失誤.
金錢：財務出現危機, 與人發生借貸關係易有糾紛.
人際：缺乏道德觀念, 與異性交往避免曖昧不清的談吐.
健康：偏食,無法保持體重,不認真保養, 身材變得不勻稱.</string>
	</array>
	<array>
		<string>懸吊者</string>
		<string>能以不同的角度去看待事物, 偶爾會因小禍而獲大福, 因困苦勞頓而成長.

感情：感情上, 禁得起愛情的考驗, 明知道前方有挫折卻依然不肯放棄, 願意為對方做出犧牲, 能以對方的立場看待問題.
事業：工作上, 只要努力就會有成果, 有些事看起來很難, 但正真去實施就會有意向不到的收穫, 當然, 必須具備耐心和勤勞.
學業：學習上, 換個角度思考,更加容易理解問題.
金錢：經常扮演吃虧的角色, 會因助人而損失金錢, 不過凡事只要咬牙忍耐, 必有好轉的一天.
人際：人際方面, 因樂於助人而與周圍的人相處融洽.
健康：健康方面, 需要長時間的調養來恢復健康.</string>
		<string>缺乏實行能力.

感情：感情上, 與心儀的對象沒有發展的希望, 無謂的奉獻, 難以得到回報.
事業：工作上, 無法忍受嚴苛的環境, 做事也只考慮自己的利益, 努力將無所獲.
學業：學業方面, 對學習沒有興趣, 過於被動的學習將導致成績退步.
金錢：理財方面, 根據自己的情緒盲目地投資, 卻因貪心導致失敗, 漫無目標的外出將有意外的支出.
人際：人際方面, 經常很情緒化,導致他人的疏遠.
健康：健康方面, 當心骨折,小心因為滑雪或溜冰造成足部血液循環不良,因疏忽而惡化.</string>
	</array>
	<array>
		<string>死神</string>
		<string>必須忍受世間的冷漠, 不斷的遭遇失敗,絕望, 等待機會獲得新生.

感情：感情上, 開始對戀人失去感覺, 與戀人間的隔閡加深, 愛情走到盡頭, 將要面臨分手或是分離.
事業：事業方面, 到處碰壁, 事事行不通, 甚至要被迫離開現在的工作崗位.
學業：學業方面, 學習毫無進步, 考試也不大順利, 成績跌到谷底.
金錢：理財觀念差, 過於順應自己的情緒而不顧後果, 奢侈成性, 不經考慮就做出購買行為.
人際：人際關係上, 友情出現裂痕.
健康：對自己的健康漠不關心, 體力消耗大, 病情出現惡化, 小心遇到意外災難.</string>
		<string>命運出現好轉, 脫離低潮期, 精力充沛, 有開拓未來的勇氣, 有機會東山再起.

感情：感情上, 絕望後出現重新燃起愛的希望, 感情好轉, 主動展開攻勢將有好結果, 表明心意, 努力不懈, 可萌發新愛苗.
事業：工作方面, 有決斷力, 如果試著扭轉氣氛, 以新的計劃重新開始, 事業上必能出現好轉.
學業：學業上, 開始有規律地學習,成績有所提升.
金錢：原本遺失的財物, 現在失而復得.
人際：對於過往的誤會既往不咎, 與朋友言歸於好.
健康：健康的身體來自於充滿活動的生活, 以自身的力量戰勝病魔, 恢復健康.</string>
	</array>
	<array>
		<string>節制</string>
		<string>懂得在平淡的重複中發現關鍵, 關注自我需求也兼顧他人的意願.

感情：在感情方面, 意外的邂逅, 找到對自己有幫助的對象, 或是由友誼發展成愛情. 與戀人心靈相互契合, 能夠有所差異的交往, 兩家人也開始相互來往.
事業：事業上, 因平時表現良好而獲得上司的讚賞.
學業：學業上, 有很好的直覺, 反覆學習獲得良好結果, 記性很好, 成績順利進展.
金錢：財務方面, 善於節儉, 懂得控制自己的購買慾望, 可在流動的資金當中獲得利益.
人際：人際交往上, 能夠與各種不同的人相處, 特別是在交誼場所會有所斬獲.
健康：健康呈現良好狀態, 善於調整身體的狀況.</string>
		<string>不懂得節制, 缺乏調整能力, 無法很正確的找到自己真正的目標和目的地.

感情：感情方面, 雙方都不善於控制戀情, 沒有默契, 無法主動談和, 還要小心三心二意的後果.
事業：不規律的生活習慣將會給工作帶來不好的影響.
學業：過於放鬆自己, 精神鬆懈, 沉迷與玩樂之中, 學習進展不順利.
金錢：花錢無度, 造成奢侈浪費.
人際：因無法控制自己的情緒而得罪別人, 有時又會因為過度在意他人的想法使得自己精神疲憊.
健康：精神狀況不穩定, 食慾減少.</string>
	</array>
	<array>
		<string>惡魔</string>
		<string>過著多苦多勞的生活, 受到拘束而感到不自由.受到不良的誘惑陷入謎團, 受到父母的管制.

感情：感情方面, 沒有個性,無法真實地展現自己,無法付出真心,感情遭受玩弄.
事業：工作上, 對自己過於嚴厲, 對公司的管理制度感到不滿.
學業：學習上, 不滿老師的教學方法, 因誘惑而荒廢學業.
金錢：金錢上, 被騙財,欠債,遭套牢,財運爛.
人際：人際關係方面, 過大的壓力而導致與家人朋友缺乏交流.
健康：健康方面, 不正常的工作作息導致體力不支, 去做個健康檢查吧.</string>
		<string>從被束縛轉為自由, 表達出自己的意志, 擺脫不良誘惑, 拋棄慾望,獲得解脫.

感情：在感情方面, 結束拖延的戀情,擺脫感情的困擾,陷於肉慾之中,戀情幾乎沒有進展, 處於短暫的冷戰時期.
事業：工作上離開無法忍受的工作環境,擺脫重擔.
學業：學習上, 有向較弱的科目挑戰的機會.
金錢：金錢上, 脫離控制,轉虧為盈,轉型投資的時機.
人際：人際關係方面, 斷絕不良的關係,放棄私慾, 恢復理智, 就能夠改善人際關係.
健康：健康方面, 不愉快的心情好轉了, 久病痊癒, 脫離危險期.</string>
	</array>
	<array>
		<string>高塔</string>
		<string>率性的行事會引發重大的問題, 信念遭到質疑, 生活面臨逆境, 精神上也將遭受打擊.

感情：發現對方的愛情不夠專一, 與愛人發生爭吵, 無法重修舊好, 甚至意外分手.
事業：工作方面, 有精神上的煩惱, 不夠努力或實力不足, 事情不能按照計劃來進行, 爆發不滿卻苦無對策.
學業：成績低落, 甚至會因意外的事件造成輟學或離職.
金錢：金錢虧損, 出現赤字.
人際：人際交往不順, 暴躁易怒, 因與朋友吵架而絕交.
健康：健康狀況不佳, 小心燙傷或刀傷, 疾病容易惡化, 應該及時接受住院的建議.</string>
		<string>有震驚的事情將要發生, 不要驚慌處理,不可大意, 要有懸崖勒馬的勇氣.

感情：感情遭受打擊,兩人間出現危機,預感將分手,要以重新再來的心情交往.
事業：工作上, 因過於緊張而導致失敗, 只要有一絲希望就千萬不能放棄, 當然謹慎還是必要的.
學業：考試前要適當放鬆自己, 考試的時候更加需要保持平常心態.
金錢：金錢上, 遭遇小偷, 錢財受損.
人際：人際關係方面, 因為驕傲的態度導致人際關係惡化, 大動亂的前兆, 糾紛不斷.
健康：健康方面, 平常不夠注意健康狀況, 若稍加注意下, 健康可以逐漸好轉.</string>
	</array>
	<array>
		<string>星星</string>
		<string>具有創造事物的能力, 對未來充滿希望, 願望也得以實現.

感情：感情方面, 有好的預兆, 遇到理想的對象, 可望與對方從友人成為戀人, 美妙的戀愛.
事業：工作方面, 對事物充滿好奇心, 有獨創性, 未來發展樂觀, 能夠達到極高的目標.
學業：學習上, 獨特的唸書方式也不錯, 藝術方面頗有好運.
金錢：經濟上, 有新的財源, 憑著自己的感覺可獲得意外的收入.
人際：遇到理想的朋友, 與興趣相投的朋友愉快交往.
健康：擁有健康的生活方式, 體魄強健.</string>
		<string>洞察力變差, 缺乏想像力, 都只是單純的構想, 期望過高, 無法實現願望.

感情：感情方面, 雖有進展也不想再繼續下去了, 愛意減退, 兩人無法心靈相通, 出現難以解決的隔閡.
事業：工作上, 即使有創意仍一無所獲, 缺乏信賴, 理想與現實存在矛盾.
學業：學習上, 希望過高, 考試受挫, 需改進讀書方式.
金錢：金錢上, 有破財的徵兆, 無法得到預期的代價.
人際：人際關係方面, 自我意識過剩, 看別人不順眼, 對朋友感到失望.
健康：健康方面, 營養失衡, 身心疲憊.</string>
	</array>
	<array>
		<string>月亮</string>
		<string>心中充滿幻想, 無法完全發揮自己的力量, 迫使願望受到現實的衝撞.生活充滿謊言與不安.

感情：感情方面, 容易發生曖昧不清的戀情, 糾結在三角關係中, 被情人所背叛.
事業：工作方面, 沒有明確的目標, 信念容易動搖, 待人不慎而被中傷, 適合與夜生活有關的工作.
學業：學業方面, 因無法鎮定而考試失敗.
金錢：令人不安的經濟狀況, 提防欺詐.
人際：過度神經質, 容易因為他人的中傷與流言導致人際關係惡化.
健康：健康方面, 心煩造成筋疲力盡, 容易把小病看得很嚴重.</string>
		<string>只要等待就會等到黎明, 所有事情都開始向好的一面發展, 所有的疑慮也開始冰釋.

感情：感情方面, 發覺虛偽的戀情, 因為異性的出現而展現出純樸的一面, 被動等待.與戀人間唯有時間的培養才能讓雙方更緊密.
事業：事業上, 正是檢討的時刻, 默默付出的精神終將獲得回報.
學業：學業方面, 努力堅持到最後, 最終會有巨大的收穫.
金錢：經濟上, 解除金錢危機,等待度過難關.
人際：人際關係方面, 不好的流言將會消失, 迷惑解除, 誤會冰釋, 人際關係好轉.
健康：健康方面, 精神與元氣逐漸恢復, 病症雖然痊癒了, 但不可以勉強自己.</string>
	</array>
	<array>
		<string>太陽</string>
		<string>因為找到了目標, 全身充滿了能量, 充實的渡過每一天, 只要太陽光照射得到的地方就能夠帶來幸運.

感情：感情方面, 戀情得以公開, 受到周圍人的祝福, 彼此相思相愛, 獲得滿足, 可望步上紅地毯的那一端.
事業：工作環境的氣氛變得開朗, 工作順利, 很有企圖心, 目標可望達成.
學業：學習上因為遇到好老師而提高學習效率, 因發揮實力而讓考試順利.
金錢：收入增加, 債務也將得以還清.
人際：活潑開朗的交往, 友情加深.
健康：身體健康, 變得更加美麗, 體力也更好了.</string>
		<string>情緒低落,意志消沉, 憂鬱的表情掛在臉上, 生活失去了動力.

感情：感情方面, 過於衝動, 愛情破裂, 無法發展到結婚的地步或者有分離的危險, 雙方感情無法回到起點.
事業：工作上, 不安感加重, 沒有目的地打轉, 聽不進他人的勸告,沒有耐心,精力不足而導致失敗.
學業：缺乏自信心, 沒有勇氣去努力, 無法堅持到底而最終失敗.
金錢：經濟上, 失去收入, 因愛慕虛榮而增加支出.
人際：人際交往方面, 因過於消極而給人黑暗的印象,有受到同伴排斥的可能,無法與人親近.
健康：健康方面, 不健康的生活, 體力不足.</string>
	</array>
	<array>
		<string>審判</string>
		<string>對每個人都能夠投注深情, 一切等待都到了盡頭, 開始感受復活的喜悅.

感情：感情方面, 愛的使者出現, 告白的時刻已經來臨, 不要隱藏自己的戀情.彼此真心相愛, 即使吵架仍有和好的希望, 相信愛的奇跡.
事業：工作上, 脫離危機, 有復職或者升職的希望.
學業：學習上, 考試順利,臨陣磨槍上考場能獲得成果.
金錢：金錢方面, 錢財失而復得, 可獲得臨時的收入.
人際：與多年的老友取得聯繫, 恢復友情.
健康：健康方面, 病情逐漸好轉,恢復健康,痊癒.</string>
		<string>遭遇了失敗卻無法在振作, 生活散漫.

感情：感情方面, 嫉妒心過重,辜負對方的好意,無法敞開心扉,不認真的交往態度,缺乏真心, 不好的回憶使感情出現缺陷.
事業：工作上無法接受失敗的事實, 雖然想要振作起來, 卻心有餘而力不足.
學業：對考試的期望不能太高,難以考上心目中的學校.
金錢：金錢上, 失去錢財,遺失重要的東西.
人際：人際交往上, 過去的傷害產生了後遺症, 無法與對方和好.
健康：健康方面, 累積疲勞,過於勉強將會導致疾病,病情拖延無法痊癒.</string>
	</array>
	<array>
		<string>世界</string>
		<string>幸福圍繞在左右,擁有理想,達成目標.

感情：感情方面, 找到令人感覺舒暢的對象, 戀情能有好的結局, 得到眾人的祝福, 幸福而又美滿.
事業：工作到達最旺盛的時期, 努力獲得回報, 適合與航空有關的工作.
學業：學業提升, 可以順利畢業,以最佳的方式獲得成功.
金錢：金錢方面, 收入增加,資金調度平順.
人際：人際關係上, 可結交到親密的摯友, 彼此建立安定的信賴關係.
健康：健康方面, 能夠維持目前的健康狀態, 精神上的壓力得以紓解, 身體上的疾病得到治療.</string>
		<string>心情容易低落,不安現狀,無法掌握到事情的要領.

感情：即使被求婚了, 態度卻無法明確, 新的戀情很難有結果, 無法完全奉獻對方, 感情不夠深入.
事業：工作方面, 因受到上級的壓迫而無法翻身, 因準備不足遭受失敗.
學業：學習缺乏創意,無法如願發展,半途而廢,成績低落.
金錢：金錢上, 資金調度困難,對待遇感到不滿意, 還有破財的危險.
人際：人際交往上, 交友發生挫折,彼此缺乏熱情,因過於幼稚的想法而受到阻礙.
健康：健康方面, 累積過多的壓力無法宣洩, 把怒氣憋在心理, 小心傷及身體.</string>
	</array>
</array>
</plist>
